.outer-layer {
  background-color: #F5F5FB;
  border-radius: 6px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  .radio-options {
    flex-basis: 100% !important;
    -webkit-box-flex: 0;
    flex: 0;
    max-width: 370px;
  }

  .new-insurance {
    padding-left: 2rem;
  }
}

.date-calender {
  display: flex;
  padding: 0 10px !important;
  height: 40px !important;
  font-size: 11px !important;

  &:hover #Layer_1 {
    fill: #fff;
    color: #fff !important;
  }

  p {
    padding-left: 8px;
  }
}

.quotesDatePicker {
  input {
    font-size: 11px;
    height: 40px !important;
    border-color: #122137 !important;
    border-radius: 4px;

    &::placeholder {
      color: #122137;
      font-size: 11px;
      font-weight: 600;
    }
  }
}

textarea {
  height: 100px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5fb;
  position: absolute;
  top: -10px;
  z-index: 99;
  left: 160px;
}

.add-quote {
  .outer-layer {
    display: none;
  }
}
